.pictures{
    margin: 25px auto;
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 335px;
    border-radius: 6px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}